{% extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}


<div class="row mx-0">
    <div class="col-md">
          <div class="card card-body">
                <table class="table table-$m">
                      <tr>
                            <th>Customer</th>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Date Ordered</th>
                            <th>status</th>
                            
                      </tr>
                      {% for order in orders %}
                      <tr>
                            <td>{{order.customers}}</td>
                            <td>{{order.product}}</td>
                            <td>{{order.product.category}}</td>
                            <td>{{order.date_created}}</td>
                            <td>{{order.status}}</td>
                            
                      </tr>
                      {% endfor %}
                </table>
                 
              
          </div>
 
    </div>
</div>
{% endblock content %}